@model AlKardeslerTicaretApp.Models.mCategory

@{
    ViewBag.Title = "Sil";
    Layout = "/Views/Shared/Layout.cshtml";
}

<h2>Sil</h2>
<hr />
<h3>Kategoriyi Silmek İstediğinize Emin Misiniz ? </h3>
<div>
    <div class="mt-3">
            <span>@Html.DisplayNameFor(model => model.Name)</span>
            <input type="text" name="name" value="@Html.DisplayFor(model => model.Name)" class="form-control" readonly />
        <div class="mt-2">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Sil" class="btn btn-danger" />
                    @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            }
        </div>

        
    </div>
</div>