
@{
    ViewBag.Title = "Kayıt İşlemi Başarıyla Gerçekleştirilmiştir";
    Layout = "/Views/Shared/Layout.cshtml";
}


<div class="text-center mt-5 p-5 ">
    <h5>Kayıt İşlemi Başarıyla Gerçekleştirilmiştir.</h5>
    <h6 class="mt-4"><i>Giriş Sayfasına Yönlendiriliyorsunuz.</i></h6>
</div>

<script>
    setTimeout(function() {
        window.location.assign("/Account/Login");
    }, 3000);
</script>