@using AlKardeslerTicaretApp.Models
@model mProduct

@{
    ViewBag.Title = Model.Description;
}

<main>
    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col-6">
                    <img class="w-100 h-100" src="~/Images/@Model.Image" alt="">
                </div>
                <div class="pt-3 pb-3 col-6 bg-light">
                    <div>
                        <h6>@Model.Name</h6> @Model.Description
                    </div>
                    <hr>
                    <h3>@Model.Price₺</h3>
                    <hr>
                    @using (Html.BeginForm("AddToCart","Cart"))
                    {
                        @Html.HiddenFor(item => item.Id)
                        <button type="submit" class="btn btn-block btn-primary">
                            <i class="fa fa-add"></i>
                            Sepete Ekle
                        </button>
                    }

                </div>

            </div>
        </div>
    </div>
</main>
