@{
    ViewBag.Title = "Anasayfa";
    
}
    <div class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="pt-4">
                        <div class="card">
                            <img class="card-img-top indirim" src="~/Images/sepette25indirim.jpg">
                            <div class="bg-dark text-white card-body">
                                <span class="card-text text-white float-right">Sepette Anında İndirim</span>
                            </div>
                        </div>
                    </div>
                    <div class="pt-4">
                        <div class="card">
                            <img class="card-img-top indirim" src="~/Images/70eVaran.jpg">
                            <div class="card-body bg-dark text-white">
                                <span class="card-text">
                                    Erkek Ayakkabılarında 70%'ye varan indirimler
                                </span>
                                <a href="/Home/List/8" class="text-white float-right">Git</a>
                            </div>
                        </div>
                    </div>
                    <div class="pt-4">
                        <div class="card">
                            <img class="card-img-top indirim" src="~/Images/elbiseIndirim.png">
                            <div class="card-body bg-dark text-white">
                                <span class="card-text">Elbiselerde 80%'e varan indirim </span>
                                <a href="/Home/List/10" class="text-white float-right">Git</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="pt-2">
                        <h4>Dikkat Çeken Ürünler</h4>
                        <hr>
                        <div class="mt-3">
                            <img class="dikkat-ceken" src="~/Images/9.jpg" alt="">
                            <div><del> 2.269,24 TL</del> 2.200,93 TL</div>
                            <div>
                                <a href="/Home/Details/14">
                                    LG 24GN650-B
                                    23.8" 144Hz
                                    1ms (HDMI+Display) Full HD FreeSync IPS Monitör
                                </a>
                            </div>
                        </div>
                        <div class="mt-3">
                            <img class="dikkat-ceken" src="~/Images/2.jpg" alt="">
                            <div>
                                <del>
                                    4.000,99 TL
                                </del> 3.920,00 TL
                            </div>
                            <div>
                                <a href="/Home/Details/2">
                                    Corsair
                                    Kasttech Gaming I3 10100f 8gb Ram 512 M2 Nvme Ssd Ekran Kartsız Sistem
                                    TYC00283756970
                                </a>
                            </div>
                        </div>
                        <div class="mt-3">
                            <img class="dikkat-ceken" src="~/Images/4.jpg" alt="">
                            <div> <del>22.599,00 TL</del> 21.243,06 TL </div>
                            <div>
                                <a href="/Home/Details/9">
                                    Tulpar
                                    T5 V21.7 15,6" Oyun
                                    Bilgisayarı
                                </a>
                            </div>
                        </div>
                        <div class="mt-3">
                            <img class="dikkat-ceken" src="~/Images/10.jpg" alt="">
                            <div> <del>3.350,00 TL</del> 3.249,50 TL</div>
                            <div>
                                <a href="/Home/Details/15">
                                    Samsung
                                    Galaxy M31s 128 GB
                                    (Samsung Türkiye Garantili)
                                </a>
                            </div>
                        </div>
                        <div class="mt-3">
                            <img class="dikkat-ceken" src="~/Images/20.jpg" alt="">
                            <div><del>239,95 TL</del> 95,98 TL</div>
                            <div>
                                <a href="/Home/Details/25">
                                    US Polo Assn
                                    Beyaz Erkek Gömlek G081SZ004.000.1379185
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="/Home/List/">
                        <button class="mt-3 btn btn-info">
                            ve Çok Daha
                            Fazlası...
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>