body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

a{
    color: black;
}

a:hover{
    text-decoration:none;
}


.icon-search {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 305px;
    top: 70px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .icon-search {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 25px;
        top: 156px;
        cursor: pointer;
    }
}

.cizgili {
    padding: 15px;
    text-align: center;
}

    .cizgili:hover {
        background-color: #fff;
        color: #c7a727;
        border-bottom: 1px solid #B7950B;
        cursor: pointer;
    }

.alticizgili {
    color: #c7a727;
    border-bottom: 1px solid #B7950B;
    padding-bottom: 25px;
}

.user-management-info {
    min-width: 100%;
}

.tema-rengi-bg,
.tema-rengi-active:active {
    background-color: #B7950B;
    color: white;
}

    .tema-rengi-bg:hover {
        color: wheat;
    }

.tema-rengi,
.hover-tema-rengi:hover {
    color: #B7950B;
}

.hover-tema-rengi:active {
    background-color: #B7950B;
    color: #fff;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}

.cursor-none {
    cursor: default;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

.indirim {
    height: 300px;
}

.dikkat-ceken {
    height: 100px;
    width: 90px;
}

.fiyat-etiketi {
    border: solid 1px orange;
    border-radius: 5%;
}

.sinir {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.siparis-img {
    width: 50px;
}

.user-img {
    width: 30px;
    border-radius: 50%;
}