USE [master]
GO
/****** Object:  Database [AlKardeslerTicaretDB]    Script Date: 4 Mar 2022 01:14:46 ÖÖ ******/
CREATE DATABASE [AlKardeslerTicaretDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AlKardeslerTicaretDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AlKardeslerTicaretDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AlKardeslerTicaretDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AlKardeslerTicaretDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AlKardeslerTicaretDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AlKardeslerTicaretDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4 Mar 2022 01:14:46 ÖÖ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mCategories]    Script Date: 4 Mar 2022 01:14:46 ÖÖ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.mCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mOrders]    Script Date: 4 Mar 2022 01:14:46 ÖÖ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](max) NULL,
	[Total] [float] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Baslik] [nvarchar](max) NULL,
	[Adres] [nvarchar](max) NULL,
	[Ilce] [nvarchar](max) NULL,
	[Sehir] [nvarchar](max) NULL,
	[OrderState] [int] NOT NULL,
 CONSTRAINT [PK_dbo.mOrders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mProducts]    Script Date: 4 Mar 2022 01:14:46 ÖÖ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.mProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mUsers]    Script Date: 4 Mar 2022 01:14:46 ÖÖ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nvarchar](max) NULL,
	[Lastname] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Role] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.mUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLines]    Script Date: 4 Mar 2022 01:14:46 ÖÖ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OrderLines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[mCategories] ON 

INSERT [dbo].[mCategories] ([Id], [Name]) VALUES (1, N'Masaustu')
INSERT [dbo].[mCategories] ([Id], [Name]) VALUES (2, N'Laptop')
INSERT [dbo].[mCategories] ([Id], [Name]) VALUES (3, N'Monitor')
SET IDENTITY_INSERT [dbo].[mCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[mOrders] ON 

INSERT [dbo].[mOrders] ([Id], [OrderNumber], [Total], [OrderDate], [Username], [Baslik], [Adres], [Ilce], [Sehir], [OrderState]) VALUES (14, N'202211714961490', 2200.93, CAST(N'2022-01-17T22:16:29.587' AS DateTime), N't', N'1', N'2', N'3', N'4', 3)
INSERT [dbo].[mOrders] ([Id], [OrderNumber], [Total], [OrderDate], [Username], [Baslik], [Adres], [Ilce], [Sehir], [OrderState]) VALUES (15, N'202211743294269', 11157.15, CAST(N'2022-01-17T22:16:52.163' AS DateTime), N'x', N'1', N'2', N'34', N'4', 0)
INSERT [dbo].[mOrders] ([Id], [OrderNumber], [Total], [OrderDate], [Username], [Baslik], [Adres], [Ilce], [Sehir], [OrderState]) VALUES (16, N'202211763269633', 2200.93, CAST(N'2022-01-17T22:16:59.400' AS DateTime), N'x', N'5', N'6', N'7', N'8', 0)
SET IDENTITY_INSERT [dbo].[mOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[mProducts] ON 

INSERT [dbo].[mProducts] ([Id], [Name], [Description], [Price], [CategoryId], [Image]) VALUES (1, N'MSI', N'Meg Trıdent X 11te-1633eu I9-11900k 64gb Ddr4 1tb Ssd+2tb Hdd Rtx3080 Gddr6x 10gb Lhr W10 Siyah MEG TRIDENT X 11TE-1633EU', 55955.3, 1, N'1.jpg')
INSERT [dbo].[mProducts] ([Id], [Name], [Description], [Price], [CategoryId], [Image]) VALUES (2, N'Corsair', N'Kasttech Gaming I3 10100f 8gb Ram 512 M2 Nvme Ssd Ekran Kartsız Sistem TYC00283756970', 3920, 1, N'2.jpg')
INSERT [dbo].[mProducts] ([Id], [Name], [Description], [Price], [CategoryId], [Image]) VALUES (8, N'Turbox', N'Tx500 i5 3470 16GB Ram 256GB SSD 1TB HDD 4GB RX550 27" Curved Masaüstü Oyun Bilgisayarı 6559698', 8956.22, 1, N'3.jpg')
SET IDENTITY_INSERT [dbo].[mProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[mUsers] ON 

INSERT [dbo].[mUsers] ([Id], [Firstname], [Lastname], [Username], [Email], [Password], [Role]) VALUES (1, N'Sametcan', N'Al', N'sametcanal53', N'sametcanal53@gmail.com', N'12345', N'Admin')
INSERT [dbo].[mUsers] ([Id], [Firstname], [Lastname], [Username], [Email], [Password], [Role]) VALUES (2, N'test', N'test', N'test', N'test@t.t', N'1', N'User')
INSERT [dbo].[mUsers] ([Id], [Firstname], [Lastname], [Username], [Email], [Password], [Role]) VALUES (4, N't', N't', N't', N't@t.t', N'1', N'User')
SET IDENTITY_INSERT [dbo].[mUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderLines] ON 

INSERT [dbo].[OrderLines] ([Id], [OrderId], [Quantity], [Price], [ProductId]) VALUES (22, 14, 1, 2200.93, 14)
INSERT [dbo].[OrderLines] ([Id], [OrderId], [Quantity], [Price], [ProductId]) VALUES (23, 15, 1, 2200.93, 14)
INSERT [dbo].[OrderLines] ([Id], [OrderId], [Quantity], [Price], [ProductId]) VALUES (24, 15, 1, 8956.22, 8)
SET IDENTITY_INSERT [dbo].[OrderLines] OFF
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 4 Mar 2022 01:14:46 ÖÖ ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[mProducts]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderId]    Script Date: 4 Mar 2022 01:14:46 ÖÖ ******/
CREATE NONCLUSTERED INDEX [IX_OrderId] ON [dbo].[OrderLines]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 4 Mar 2022 01:14:46 ÖÖ ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[OrderLines]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[mOrders] ADD  DEFAULT ((0)) FOR [OrderState]
GO
ALTER TABLE [dbo].[mProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.mProducts_dbo.mCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[mCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[mProducts] CHECK CONSTRAINT [FK_dbo.mProducts_dbo.mCategories_CategoryId]
GO
ALTER TABLE [dbo].[OrderLines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderLines_dbo.mOrders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[mOrders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderLines] CHECK CONSTRAINT [FK_dbo.OrderLines_dbo.mOrders_OrderId]
GO
ALTER TABLE [dbo].[OrderLines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderLines_dbo.mProducts_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[mProducts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderLines] CHECK CONSTRAINT [FK_dbo.OrderLines_dbo.mProducts_ProductId]
GO
USE [master]
GO
